[submodule "sentencepiece"]
	path = sentencepiece
	url = https://github.com/google/sentencepiece
[submodule "lib/libsentencepiece"]
	path = lib/libsentencepiece
	url = https://github.com/google/sentencepiece
